/* 女孩 */
[data-cid^="35641504-"] .badge-box .bdg,
#user-rollover.id-35641504 .badge-box .bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://cdn.discordapp.com/attachments/428966525580476421/437286755729932300/940852b4b56165cdc57c8a50fafd2a58.jpg");
}

/* 支配 - BOT */
[data-cid^="5714066-"] .badge-box .bdg,
#user-rollover.id-5714066 .badge-box .bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://i.imgur.com/afvlfdR.jpg");
}
