/* 女孩 */
[data-cid^="35641504-"] .badge-box .bdg,
#user-rollover.id-35641504 .badge-box .bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://i.imgur.com/0SSMiad.jpg");
}

/* 支配 - BOT */
[data-cid^="5714066-"] .badge-box .bdg,
#user-rollover.id-5714066 .badge-box .bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://i.imgur.com/2s8xvnU.jpg");
 }
 /* Ilidan Stormrage */
 [data-cid^="3524489-"] .badge-box .bdg,
 #user-rollover.id-3524489 .badge-box .bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://i.imgur.com/wAV3q6J.jpg");
  }
