/* 女孩 */
[data-cid^="35641504-"] .badge-box .bdg,
#user-rollover.id-35641504 .badge-box .bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://i.imgur.com/L1Lq5Wm.jpg");
}

/* 支配 - BOT */
[data-cid^="5714066-"] .badge-box .bdg,
#user-rollover.id-5714066 .badge-box .bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://i.imgur.com/2s8xvnU.jpg");
 }
 /* Hyperlul */
 [data-cid^="4541777-"] .badge-box .bdg,
 #user-rollover.id-4541777 .badge-box .bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://i.imgur.com/7xbcXUb.jpg");
  }
