#user-lists .list .user.id-35641504 .name:after,
#chat [data-cid^='35641504-'] .un:after,
#user-lists .list .user.id-35641504 .name:after, {
    content: 'OWNER';
    display: inline-block;
    margin: 0 0 0 5px; 
	padding: 0 3px;
    color: #ffffff;
    background: linear-gradient(rgba(255,255,255,.5), rgba(0,0,0,.5));
    border-radius: 4px;
    font-size: 10px;
}
#user-lists .list .user.id-35641504:hover .name:after,
#chat [data-cid^='35641504-'] .un:hover:after,
#user-lists .list .user.id-35641504:hover .name:after,
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(247, 247, 247, 0.2));
}

#user-lists .list .user.id-5714066 .name:after,
#chat [data-cid^='5714066-'] .un:after,
#user-lists .list .user.id-5714066 .name:after, {
    content: 'BOT';
    display: inline-block;
    margin: 0 0 0 5px; 
	padding: 0 3px;
    color: #ffffff;
    background: linear-gradient(rgba(255,255,255,.5), rgba(0,0,0,.5));
    border-radius: 4px;
    font-size: 10px;
}
#user-lists .list .user.id-5714066:hover .name:after,
#chat [data-cid^='5714066-'] .un:hover:after,
#user-lists .list .user.id-5714066:hover .name:after,
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(247, 247, 247, 0.2));
}
