#user-lists .list .user.id-35641504 .name:after,
#chat [data-cid^='35641504-'] .un:after {
    content: 'OWNER';
    display: inline-block;
    margin: 0 0 0 5px; 
	padding: 0 3px;
    color: #ffffff;
    background: linear-gradient(rgba(175, 174, 174,.3), rgba(175, 174, 174,.3));
    border-radius: 4px;
    font-size: 10px;
}

#user-lists .list .user.id-5714066 .name:after,
#chat [data-cid^='5714066-'] .un:after {
    content: 'BOT';
    display: inline-block;
    margin: 0 0 0 5px; 
	padding: 0 3px;
    color: #ffffff;
    background: linear-gradient(rgba(175, 174, 174,.3), rgba(175, 174, 174,.3));
    border-radius: 2px;
    font-size: 10px;
 }
 #user-lists .list .user.id-3524489- .name:after,
#chat [data-cid^='3524489-'] .un:after {
    content: 'HELPER';
    display: inline-block;
    margin: 0 0 0 5px; 
	padding: 0 3px;
    color: #ffffff;
    background: linear-gradient(rgba(175, 174, 174,.3), rgba(175, 174, 174,.3));
    border-radius: 4px;
    font-size: 10px;
}
